<%= form_with(model: accounting_account, local: true, html: {class:'user'}) do |form| %>
  <% if accounting_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accounting_account.errors.count, "error") %> prohibited this accounting_account from being saved:</h2>
      <ul>
        <% accounting_account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='form-group'>
    <%= form.label :name, 'Nombre de la Cuenta' %>
    <%= form.text_field :name, class:'form-control form-control-user' %>
  </div>
  <div class='form-group'>
    <%= form.label :initial_balance, 'Monto inicial' %>
    <%= form.number_field :initial_balance, class:'form-control form-control-user' %>
  </div>
  <div class='form-group'>
    <%= form.label :in_charge_id, 'Responsable' %>
    <%= form.text_field :in_charge_id, class:'form-control form-control-user' %>
  </div>
  <%= form.submit class: "btn btn-primary btn-user btn-block", value: submit %>
<% end %>