<p id="notice"><%= notice %></p>

<h1>Accounting Transactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounting_transactions.each do |accounting_transaction| %>
      <tr>
        <td><%= link_to 'Show', accounting_transaction %></td>
        <td><%= link_to 'Edit', edit_accounting_transaction_path(accounting_transaction) %></td>
        <td><%= link_to 'Destroy', accounting_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accounting Transaction', new_accounting_transaction_path %>
